################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Day 1/bin/Debug/net5.0
/Day 1/obj/Debug/net5.0
/Day 2/bin/Debug/net5.0
/Day 2/obj
/Day 2.2/obj/Debug/net5.0
/Day 2.2/bin/Debug/net5.0
